.album-summary {
    width: 90%;
    position: relative;
}


div.album-summary div.sticker {
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    text-shadow: white 0px 0px 10px;
    padding: 0.2em;
    background-color: rgba(255,255,255,0.6);    
}

.album-summary .title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
    text-align: left;
    font-size: large;
}

.album-summary .artist {
    opacity: 0.7;
}

.album-summary .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.album-summary .controls button{
    margin: 1em !important;
    padding: 0.5em 4em;
    width: 30%;
}

.cursor-pointer {
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .album-summary {
        width: 300px;
    }
}


