#audio-player-container {
    margin-top: 4em;
    border: 1px solid #3a2944;
}

#audio-player-container .sticky {
    position: fixed;
    top: 0;
}

#audio-player-container .centre {
    margin: 0 auto;
}

#audio-player-container div.duration {
    position: relative;
    width: 95%;
}

#audio-player-container div.duration-time {
    position: absolute;
    bottom: 30px;
    font-size: smaller;
}

#audio-player-container div.beginning {
    left: 0;
}

#audio-player-container div.end {
    right: 0;
}

#audio-player-container div.audio-buttons {
    position: relative;
    height: 3.5em;
}

#audio-player-container div.button-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}


#audio-player-container div.audio-buttons button {
    padding: 0;
    color: white;
}

#audio-player-container .expand-more {
    position: absolute;
    right: 0;
    top: 1em
}

#audio-player-container div.button-container .play-button {
    margin: 0 1em;
}

#audio-player-container div.track {
    font-size: medium;
    text-align: left;
}

#audio-player-container div.track div.title {
    font-size: 1.5em;
}

#audio-player-container div.track div.artist {
    opacity: 0.8;
    font-size: 0.9em;
}

#audio-player-container div.album-art {
    margin-top: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30em;
    cursor: pointer;
}



#audio-player-container div.expand {
    background-color: white;
    padding: 1em;
}

#audio-player-container div.expand div.bottom {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    #audio-player-container div.track {
        font-size: small;
    }

}