div.manage-meta-images div.images{
    display: flex;
    flex-wrap: wrap;
}

div.manage-meta-images div.images div.item{
    display: flex;
    align-items: center;
    height: 100px;
    /* width: auto; */
    padding: 0.5em;
}

div.manage-meta-images div.images div.item img{
    max-height: 100%;
    width: auto;
    cursor: pointer;
}