**/bin
**/target
**/node_modules
**/classes
**/.settings
**/.factorypath

mashupmedia-server/src/main/resources/application-local.yml
mashupmedia.code-workspace
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
