.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


div {
  text-align: left;
}

.align-centre {
  display: block;
  margin: 0 auto;
}


div.main-container {
  padding: 1em;
}

div.new-line {
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.right {
  text-align: right;
}

form button {
  margin-left: 1em !important;
}

h1 {
  color: rgb(160, 84, 163);
}

h2 {
  color: rgb(87, 163, 84);
}

.error {
  color: #d32f2f;
  font-size: small;
}

.hide {
  display: none;
}

.link-no-underlne {
  text-decoration: none;
  color: rgb(87, 163, 84);
}

label {
  margin: 0;
}

.block {
  display: block;
}

.small {
  font-size: small;
}

.zero-top-margin {
  margin-top: -3em;
}

.icon-link {
  cursor: pointer;
  margin-left: 0.2em;
} 