@media all and (max-width: 50em) {
	div.albums div.album, div.artists div.artist, div.photos div.photo {
		border-bottom: 1px solid #A0A0A0;
		padding: 5px;
		height: 3.8em;
		overflow: hidden;
	}
	div.albums div.album img, div.artists div.artist img, div.photos div.photo img
		{
		width: 60px;
		height: 60px;
	}
	div.albums div.album-title, div.artists div.artist-title {
		position: absolute;
		left: 75px;
		top: 10px;
		font-size: 1em;
		margin-right: 70px;
	}
	div.albums div.album-control, div.artist div.artist-control {
		position: absolute;
		right: 0px;
		bottom: 5px;
		padding: 3px;
	}
	div.albums div.album-control img, div.artists div.artist-control img {
		width: 16px;
		height: auto;
		padding: 5px;
	}
	div.albums div.album-control a, div.artists div.artist-control a {
		padding: 5px;
	}
	div.album-art {
		width: 100%;
		margin-top: 10px;
	}
	ul.items li span.label {
		left: 80px;
	}
	ul.items li img.thumb {
		width: 70px;
		height: auto;
	}
	
	#photo-previous, #photo-next {
		display: none;
	}
}