<mat-sidenav-container id="root-container">

    <mat-sidenav #sidenav mode="side" [(opened)]="opened" position="end">

        <mat-toolbar-row>
            <span><a href="javascript:;" (click)="sidenav.close()">Close menu</a></span>
            <span class="fill-remaining-space"></span>
            <a href="javascript:;" (click)="sidenav.close()">
                <mat-icon aria-hidden="false" aria-label="Close">close</mat-icon>
            </a>
        </mat-toolbar-row>

        <mat-toolbar-row>
            <span><a href="javascript:;" (click)="sidenav.close()">Log out</a></span>
            <span class="fill-remaining-space"></span>
            <a href="javascript:;" (click)="sidenav.close()">
                <mat-icon aria-hidden="false" aria-label="Log out">power_settings_new</mat-icon>
            </a>
        </mat-toolbar-row>

    </mat-sidenav>

    <mat-sidenav-content>

        <div id="header">

            <a class="menu" [routerLink]="" (click)="sidenav.toggle()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
            </a>

            <div id="music-player">
                <table>
                    <tr>
                        <td class="controls"><a class="previous" href="javascript:;">

                                <img title="Previous track" alt="Previous track"
                                    src="../assets/images/media-player/previous.png" />
                            </a> <a class="play" href="javascript:;"><img title="Play track" alt="Play track"
                                    src="../assets/images/media-player/play.png" /></a>
                            <a class="next" href="javascript:;"><img title="Next track" alt="Next track"
                                    src="../assets/images/media-player/next.png" /></a>
                        </td>
                        <td class="album-art"></td>
                        <td class="song-info">
                            <div class="artist-name"></div>
                            <div class="title"></div>
                        </td>
                    </tr>

                </table>



                <!--
                <a class="pause"><img title="<spring:message code="action.play"/>" alt="<spring:message code="action.play"/>" src="<c:url value="${themePath}/images/media-player/play.png"/>" /></a>

                <button class="stop">Stop</button>
                -->
                <div class="progress">
                    <div class="play-bar"></div>
                </div>
            </div>
        </div>


        <div id="main-content">

            <div class="content">
                <router-outlet></router-outlet>
            </div>

            <mat-toolbar *ngIf="showAdminMenu">
                <mat-toolbar-row>
                    <span><a class="menu" [routerLink]="['/admin/network']">Network</a></span>
                    <span class="fill-remaining-space"></span>
                    <a class="menu" [routerLink]="">
                        <mat-icon aria-hidden="false" aria-label="Network">arrow_right</mat-icon>
                    </a>
                </mat-toolbar-row>

                <mat-toolbar-row>
                    <span><a class="menu" [routerLink]="">Libraries</a></span>
                    <span class="fill-remaining-space"></span>
                    <a class="menu" [routerLink]="">
                        <mat-icon aria-hidden="false" aria-label="Libraries">arrow_right</mat-icon>
                    </a>
                </mat-toolbar-row>

                <mat-toolbar-row>
                    <span><a class="menu" [routerLink]="">Users</a></span>
                    <span class="fill-remaining-space"></span>
                    <a class="menu" [routerLink]="">
                        <mat-icon aria-hidden="false" aria-label="Users">arrow_right</mat-icon>
                    </a>
                </mat-toolbar-row>

                <mat-toolbar-row>
                    <span><a class="menu" [routerLink]="">Groups</a></span>
                    <span class="fill-remaining-space"></span>
                    <a class="menu" [routerLink]="">
                        <mat-icon aria-hidden="false" aria-label="Groups">arrow_right</mat-icon>
                    </a>
                </mat-toolbar-row>

                <mat-toolbar-row>
                    <span><a class="menu" [routerLink]="">Encoding</a></span>
                    <span class="fill-remaining-space"></span>
                    <a class="menu" [routerLink]="">
                        <mat-icon aria-hidden="false" aria-label="Encoding">arrow_right</mat-icon>
                    </a>
                </mat-toolbar-row>

            </mat-toolbar>

        </div>

        <mat-toolbar id="footer" *ngIf="showMainFooterMenu">
            <span><a class="menu" [routerLink]="" (click)="sidenav.toggle()">
                    <mat-icon aria-hidden="false" aria-label="Music">music_note</mat-icon>
                </a></span>
            <span><a class="menu" [routerLink]="" (click)="sidenav.toggle()">
                    <mat-icon aria-hidden="false" aria-label="Photos">photo</mat-icon>
                </a></span>
            <span><a class="menu" [routerLink]="" (click)="sidenav.toggle()">
                    <mat-icon aria-hidden="false" aria-label="Videos">videocam</mat-icon>
                </a></span>
            <span><a class="menu" [routerLink]="" (click)="sidenav.toggle()">
                    <mat-icon aria-hidden="false" aria-label="Settings">settings</mat-icon>
                </a></span>
        </mat-toolbar>


    </mat-sidenav-content>


</mat-sidenav-container>