ul {
    list-style: none;
    width: 100%;
    padding-left: 0;
}

li {
    text-align: left;
    padding: 0.2em 0.2em;
    margin: 0.2em;
    color: grey;    
    border-bottom: solid 1px lightgrey;
}

