#mashup-bar img.icon {
    margin-right: 2em;
    width: 50px;
    height: auto;
}  

#mashup-bar button {
    margin-left: 0 !important;
}

#mashup-bar .search {
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.2);    
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#mashup-bar .search input, #mashup-bar .search .adornment{
    color: #e579e9 !important;
}