#album div.media-container {
    position: relative;
}

#album div.controls {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

#album .track-not-encoded-for-web {
    opacity: 0.5;
}

#album span {
    padding-right: 1em;
}

#album div {
    margin-bottom: 0.5em;
}

#album div.album-name {
    font-size: 1.5em;
    opacity: 0.8;

}

#album div.artist-name {
    font-size: 1em;
}

#album div.profile {
    font-size: 1em;
    font-weight: lighter;
}

