#album div.media-container {
    position: relative;
}

#album div.controls {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

#album span {
    padding-right: 1em;
}

#album div {
    margin-bottom: 0.5em;
}

#album div.album-name {
    font-size: 1.5em;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;

}

#album div.artist-name {
    font-size: 1em;
}

#album div.summary {
    font-size: 1em;
    font-weight: lighter;
}

#album div.images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


#album div.images img {
    cursor: pointer;
    width: 100px;
    height: auto;
    margin: 1em;

}

#album div.external-links div {
    border-bottom-color: rgb(87, 163, 84);
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}
