#artist div.title, #artist div.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#artist div.title img {
    width: 100px;
    height: auto;
    margin-right: 1em;
    cursor: pointer;
}








