#artist div.title,
#artist div.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5em;
}



#artist div.title {
    display: flex;
    justify-content: space-between;
}

#artist div.title div {
    display: flex;
    align-items: center;
}

#artist div.profile {
    font-weight: lighter;
}

#artist div.title img {
    width: 100px;
    height: auto;
    margin-right: 1em;
    cursor: pointer;
}

#artist h1,
#artist div.profile div {
    margin-right: 1em;
}

#artist div.images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


#artist div.images img {
    cursor: pointer;
    width: 100px;
    height: auto;
    margin: 1em;

}

#artist div.external-links div {
    border-bottom-color: rgb(87, 163, 84);
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}

#artist .albums {
    margin-top: 0.1em;
}

    
