#artist div.title, #artist div.profile {
    display: flex;
    align-items: center;
}

#artist div.title button{
    margin-left: 1em;
}

#artist div.external-links {
    margin-bottom: 10em;
}

#artist div.external-links button{
    margin-left: 0;
}

#artist div.external-links div.item {
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px lightgrey;

}

#artist div.external-links div.item .icon{
    margin-right: 0.2em;
}

#artist div.external-links div.item a span, #artist div.external-links div.item a .icon{
    vertical-align: middle;
}