#main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}





 /* The navigation bar */
#header {
  overflow: hidden;
  background-color: #e9e9e9;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
#header a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */

/* Main content */
#main-container div.main-content {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
} 