html, body {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

img.logo-inline {
	height: 35px;
	width: auto;
}

#logo {
	padding: 0 !important;
}

img.logo-home {
	width: 300px;
	height: auto;
	display: block;
	margin: 0 auto 2em auto;
}

div.center-panel {
	margin: 1em auto;
}

.cursor-progress {
	cursor: progress;
}

.cursor-move {
	cursor: move;
}

.clear {
	clear: both;
}

a, a:ACTIVE, a:VISITED {
	color: #E579E9 !important;
}

.no-wrap {
	white-space: nowrap;
}

h1 {
	margin: 0;
}

img {
	border: none;
}

.error-box {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #CC0099;
	border: 1px solid #CC0099;
	background-color: #FFE6E6; 
	padding: 5px;
}

#player-script {
	display: none;
}

#background-image {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#background-image.full-width {
	width: 100%;
	height: auto;
}

#background-image.full-height {
	width: auto;
	height: 100%;
}

.top-bar {
	font-family: Gill Sans, Verdana;
	background-color: #3A2A45;
	padding: 5px 0;
}

#top-bar .home {
	float: left;
	margin-top: 5px;
}

#top-bar .main-menu {
	display: block;
	text-align: right;
	margin: 0;
	padding: 0;
}

#top-bar .main-menu li {
	text-align: right;
}

li.update-available {
	display: inline-block !important;
	background-color: #E579E9;
	padding: 0 !important;
	margin-left: 5px;
}

.top-bar a, .top-bar a:VISITED {
	color: #e579e9;
	text-decoration: none;
}

#top-bar {
	margin: 0;
	padding: 5px;
}

.top-bar ul.main-menu img {
	vertical-align: middle;
	width: 30px;
	height: auto;
}

.top-bar ul li {
	list-style: none;
	display: inline;
	padding-left: 10px;
}

#footer {
	display: none;
}

div.footer-meta {		
	clear: both;
	font-size: 0.8em;
	text-align: center;
	padding: 2em 1em 0 1em;
}

div.ui a {
	font-weight: normal !important;
}

#login-panel {
	padding: 5px;
	max-width: 400px;
}

#login-panel img {
	max-width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.new-line {
	margin-top: 1em;
}

div.status-message {
	margin-top: 1em;
	padding: 1em;
	font-style: italic;
	background-color: #e9e9e9;
	
}

div.sub-panel {
	padding: 10px;
}



div.panel iframe {
	width: 100%;
	border: none;
	border-width: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.horizontal-gap {
	margin-left: 10px;
}

a, a:VISITED {
	color: #E579E9;
	text-decoration: none;
}

a:HOVER {
	text-decoration: underline;
}

label {
	text-align: left;
}

label.date-to {
	padding-left: 10px;
}



div.breadcrumbs a:HOVER, #top-bar ul.main-menu a:HOVER{
	text-decoration: underline;
}

div.breadcrumbs {
	font-size: 0.9em;
}

ul.main-menu {
	margin-top: 1em !important;
}

ul.main-menu li a.library-music {
	padding-left: 30px;
	background-image: url("../images/library/music.png");
	background-position: 5px center;
	background-repeat: no-repeat;
}

div.panel ul.main-menu li a.library-video {
	padding-left: 30px;
	background-image: url("../images/library/video.png");
	background-position: 5px center;
	background-repeat: no-repeat;
}

div.panel ul.main-menu li a.library-photo {
	padding-left: 30px;
	background-image: url("../images/library/photo.png");
	background-position: 5px center;
	background-repeat: no-repeat;
}

div.panel ul.main-menu a:HOVER {
	background-color: #E579E9;
	text-decoration: none;
	color: white;
}

#albums {
	clear: both;
}



div.title-with-player-control h1, div.title-with-player-control div.control-menu,
	div.title-with-player-control div.re-encode {
	display: inline-block;
}

div.control-menu {
	border: 1px solid #A0A0A0;
	margin-left: 10px;
	margin-right: 10px;
}

div.control-menu a {
	display: inline-block;
	padding: 3px 5px;
}

div.sub-panel .album-menu li {
	list-style: none;
	padding: 5px 0;
	margin: 0;
	margin-left: 40%;
}

div.sub-panel .album-menu li div.controls {
	display: inline;
}

div.sub-panel .album-menu li div.meta {
	display: inline;
	text-align: right;
	margin-left: 20px;
	font-size: 0.8em;
}

div.sub-panel div.album-art {
	float: left;
	width: 40%;
	margin-top: 10px;
}

div.sub-panel div.album-art img {
	width: 100%;
	height: auto;
}


#quick-search {
	position: relative;
	top: 40px;
	right: 10px;
}



#quick-search input[type=text] {
	position: absolute;
	width: 300px;
	padding: 2px 5px;
	color: #3A2A45;
	right: 0;
}

#quick-search input[type=image] {
	position: absolute;
	width: 15px;
	height: auto;
	vertical-align: middle;
	background-color: white;
	position: absolute;
	right: 6px;
}

ul.ui-autocomplete {
	font-size: 80%;
}

#current-song table {
	border-collapse: collapse;
}

#current-song img {
	vertical-align: middle;
}

#current-song {
	padding-left: 20px;
}

#current-song .vote {
	display: none;
}

#current-song span.playlist {
	display: none;
	margin-left: 20px;
}

#current-song .vote img {
	background-color: #C8C0CE;
	padding: 2px;
	width: 16px;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#current-song .album-art img {
	width: auto;
	height: 120px;
	margin-left: 10px;
}

#current-song td.song-title {
	padding: 0 20px 10px 20px;
	vertical-align: bottom;
}

#current-song td.song-title .artist-name, #current-song td.song-title .playlist,
	#current-song td.song-title .encode {
	font-size: 80%;
}

#current-song td.song-title .playlist, #current-song td.song-title .encode
	{
	margin-top: 10px;
}

.ui-autocomplete {
	z-index: 1000;
}

#current-song td.vote {
	padding-top: 40px;
	vertical-align: top;
}



#playlist input.play {
	margin-left: 20px;
}

#playlist table th .ui-icon {
	float: right;
}

#playlist table {
	border-collapse: collapse;
}

#playlist table th.first {
	padding-left: 0px;
}

#playlist table td, #playlist table th {
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	min-width: 80px;
}

#playlist table tbody tr {
	cursor: move;
	border-bottom: 1px solid #E579E9;
}

#playlist table tbody td.track-length {
	text-align: right;
}

#playlist table tbody tr.playing td {
	font-style: italic;
	font-weight: bold;
}

#playlist table tbody td.text {
	overflow: hidden;
}

#playlist table td.controls {
	width: 75px;
}

.controls .ui-icon {
	background-color: white;
	filter: alpha(opacity =                           60); /* for IE */
	-khtml-opacity: 0.60; /* khtml, old safari */
	-moz-opacity: 0.60; /* old mozilla, netscape */
	opacity: 0.60; /* good browsers: FF, safari, opera */
	float: left;
	margin-right: 5px;
}

div.controls {
	margin: 10px 0;
}


ul.index-letters {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	text-align: center;
}

ul.index-letters li {
	display: inline;
	text-transform: uppercase;
	font-size: 120%;
	padding: 0 5px;
}

.hide, div.dialog {
	display: none;
}

div.ui-dialog {
	font-size: 70%;
	z-index: 1000;
}

div.ui-dialog input.search-field {
	border-color: #383838;
	border: 1px solid;
	background-color: #E8E8E8;
	width: 70%;
	margin-right: 10px;
}

ul.items {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.items img {
	vertical-align: middle;
}

ul.items li {
	padding: 10px 0;
	clear: both;
	border-bottom: 1px solid #C8C0CE;
}

ul.items li a.album-cover {
	float: left;
}

ul.items li a.album-cover img {
	height: 110px;
}

ul.items li a.album-cover img {
	width: auto;
}

ul.items li div.song, ul.items li div.artist-and-album, ul.items li div.meta
	{
	margin-left: 120px;
	padding-top: 10px;
}

ul.items li div.song {
	font-size: 120%;
}

ul.items li div.song .controls {
	display: inline;
}

ul.items li div.album {
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 120%;
}

ul.items li div.artist {
	font-size: 90%;
}

ul.items ul.control-menu {
	margin-top: 10px;
	clear: none;
}

ul.items li div.controls {
	margin-top: 10px;
}

ul.items ul.control-menu li {
	border-bottom: none !important;
	padding: 0 0 0 5px !important;
}

ul.items ul.control-menu li.first {
	padding: 0 5px 0 0 !important;
}

div.index-letter {
	clear: both;
	text-transform: uppercase;
	font-size: 120%;
	padding-top: 10px;
}

.bottom-margin {
	margin-bottom: 10px;
}

div.action-buttons {
	float: right;
}

.icon {
	width: 16px;
	height: 16px;
	background-color: #C8C0CE;
}

input.cancel {
	margin-left: 30px;
}

div.information {
	margin: 10px 0;
}

#remote div.images img {
	height: 90px;
	max-height: 90px;
	width: auto;
	margin-right: 10px;
	margin-top: 10px;
}

#remote {
	margin: 10px 0;
	height: 50px;
	overflow: hidden;
	clear: both;
}

#remote div.disclaimer {
	display: block;
	clear: both;
	padding-top: 10px;
}

#remote div.disclaimer img {
	vertical-align: middle;
	background-color: white;
	padding: 0 5px;
}

a.arrow-show-hide {
	float: right;
}

div.panel fieldset table {
	border-collapse: collapse;
	margin: 5px 0;
}

div.panel fieldset table thead th {
	text-align: left;
	padding-right: 10px;
	border-bottom: 2px solid #E3DEDE;
	padding: 5px 10px 5px;
}

div.panel fieldset table tbody td {
	padding: 5px 10px 5px;
	border-bottom: 1px solid #E3DEDE;
}

ul.items a.ui-icon {
	padding: 0 !important;
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

body.photo ul.photo-thumbnails {
	list-style: none;
}

body.photo ul.photo-thumbnails li {
	display: inline-block;
	padding: 2px;
	margin: 2px;
	width: 200px;
	vertical-align: middle;
}

body.photo ul.photo-thumbnails li a img {
	border: 5px solid transparent;
	width: 100%;
}

body.photo ul.photo-thumbnails li a img.photo-highlight {
	border-color: #e579e9;
}

body.photo table.photo-container {
	width: 100%;
	border-collapse: collapse;
}

body.photo table.photo-container td.photo-previous, table.photo-container td.photo-next
	{
	text-align: center;
}

body.photo table.photo-container td.photo {
	width: 100%;
	text-align: center;
	height: 800px;
}

body.photo table.photo-container td.photo img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 800px;
}

a.arrow {
	display: block;
	width: 0;
	height: 0;
}

a.arrow:HOVER {
	text-decoration: none;
}

a.image-previous {
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 30px solid #a0a0a0;
	margin-right: 10px;
}

a.image-next {
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid #a0a0a0;
	margin-left: 10px;
}

/* New stuff */

#music-player {
	clear: both;
	padding-left: 5px;
	padding-right: 5px;
	visibility: hidden;
}


#music-player div.progress{
	height: 5px;
	cursor: pointer;
	position: relative;
}

#music-player div.play-bar{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #e579e9;
	width: 42%;	
	height: 2px;
}


#music-player div.controls, #music-player div.information {
	display: inline-block;
}


#music-player div.controls a img {
	height: 20px;
	width: auto;
	padding: 0px 2px;
}


