http: //css-tricks.com /perfect-full-page-background-image/

html,body {
	font-size: 100%;
	background-color: black;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

h1 {
	margin: 0;
}

img {
	border: none;
}

.error-box {
	display: block;
	margin-bottom: 10px;
	color: #F6CECE;
	font-weight: bold;
}

#player-script {
	display: none;
}

#background-image {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	filter: alpha(opacity =       70);
	/* for IE */
	-khtml-opacity: 0.7; /* khtml, old safari */
	-moz-opacity: 0.7; /* old mozilla, netscape */
	opacity: 0.7; /* good browsers: FF, safari, opera */
}

#background-image.full-width {
	width: 100%;
	height: auto;
}

#background-image.full-height {
	width: auto;
	height: 100%;
}

.top-bar {
	font-family: Gill Sans, Verdana;
	background-color: #3A2A45;
	padding: 5px 0;
}

.top-bar a,.top-bar a:VISITED {
	color: #e579e9;
	text-decoration: none;
}

#top-bar {
	margin: 0;
	padding: 5px;
}

.top-bar ul.main-menu {
	padding: 0;
	margin: 0;
	margin-right: 10px;
	float: right;
	font-size: 90%;
}

.top-bar ul li {
	list-style: none;
	display: inline;
	padding-left: 10px;
}

div.panel {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 0.8em;
	background-image: url("../images/transparent-background.png");
	background-repeat: repeat;
	background-position: left top;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding: 10px;
	margin-top: 10px;
	-moz-border-radius: 20px
}

div.panel form {
	padding-top: 10px;
}

div.sub-panel {
	padding: 10px;
}

div.music-sub-panel {
	margin-top: 120px;
	padding: 10px;
}

div.panel iframe {
	width: 100%;
	border: none;
	border-width: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

div.panel h1 {
	font-size: 1.5em;
}

div.panel .horizontal-gap {
	margin-left: 10px;
}

div.panel {
	color: #E3DEDE;
}

div.panel a,div.panel a:VISITED {
	color: #E579E9;
}

div.panel a:HOVER {
	text-decoration: underline;
}

div.panel fieldset {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #E3DEDE;
	padding: 10px;
	margin-top: 10px;
	font-size: 1em;
	padding: 10px;
	line-height: 2em;
}

label {
	padding-bottom: 5px;
	padding-right: 5px;
}

label.date-to {
	padding-left: 10px;
}


div.panel label.new-line {
	display: block;
	padding-top: 10px;
}

div.panel input[type='text'],div.panel input[type='password'] {
	width: 99%;
	min-width: 200px;
}

div.panel input.date {
	width: 100px;
}


div.button-panel {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: right;
}

div.panel a.button,div.panel a.button:VISITED {
	color: #E3DEDE;
}

div.panel a.button:HOVER {
	text-decoration: none;
}

.button {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	/*border: 1px solid #E579E9;	
	color: #E579E9;*/
	border: 2px solid #E579E9;
	color: #E3DEDE;
	padding: 3px 15px;
	font-size: 1.1em;
	cursor: default;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: 10px;
}

.button:HOVER,.hover { /*background-color: #0E850C;*/
	background-color: #E579E9;
}

.sub-rounded-corners {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

div.panel div.breadcrumbs a:HOVER,#top-bar ul.main-menu a:HOVER,#top-bar a.home:HOVER,#top-bar-music-player .main-menu a:hover,#top-bar-music-player div.top-home-link a:HOVER
	{
	text-decoration: underline;
}

div.panel div.breadcrumbs {
	margin-bottom: 10px;
}

div.panel a,div.panel a:VISITED {
	text-decoration: none;
}

div.panel ul.main-menu {
	padding: 0;
	margin: 0;
}

div.panel ul.main-menu li {
	list-style: none;
}

div.panel ul.main-menu li a {
	display: block;
	padding: 3px;
	font-size: 1.2em;
	color: #E3DEDE;
}

div.panel ul.main-menu a:HOVER {
	background-color: #E579E9;
	text-decoration: none;
}

div.albums div.album {
	float: left;
	padding: 5px;
	width: 150px;
	height: 150px;
}

div.albums div.album img, ul.items li a.album-cover img{
	width: 100%;
	height: 100%;
	filter: alpha(opacity =                     60); /* for IE */
	-khtml-opacity: 0.60; /* khtml, old safari */
	-moz-opacity: 0.60; /* old mozilla, netscape */
	opacity: 0.60; /* good browsers: FF, safari, opera */
}

div.albums div.highlight img, ul.items li a.highlight img {
	background-color: gray;
	filter: alpha(opacity =               100); /* for IE */
	-khtml-opacity: 1; /* khtml, old safari */
	-moz-opacity: 1; /* old mozilla, netscape */
	opacity: 1; /* good browsers: FF, safari, opera */
}

ul.control-menu {
	margin: 0;
	padding: 5px 0;
	clear: both;
}

ul.control-menu li {
	display: inline;
	list-style: none;
	font-size: 1.2em;
	padding: 0 10px;
	border-left: 1px solid white;
}

ul.control-menu li.first {
	border-left: none;
	padding-left: 0;
}

div.sub-panel .album-menu li {
	list-style: none;
	padding: 5px 0;
	margin: 0;
	margin-left: 260px;
}

div.sub-panel .album-menu li div.controls {
	display: inline;
}

div.sub-panel .album-menu li div.meta {
	display: inline;
	text-align: right;
	margin-left: 20px;
	font-size: 0.8em;
}

div.sub-panel div.album-art {
	float: left;
	width: 250px;
	margin-top: 20px;
}

div.sub-panel div.album-art img {
	width: 100%;
	height: auto;
}

#top-bar-music-player {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	color: #C8C0CE;
}

#top-bar-music-player div.top-home-link {
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 90%;
}


#quick-search {
	position: absolute;
	top: 40px;
	right: 10px;
}


#quick-search input[type=text]{
	width: 300px;
	padding: 2px 5px;
	color: #3A2A45;
}

#quick-search input[type=image]{
	width: 15px;
	height: auto;
	vertical-align: middle;
	background-color: white;
	position: absolute;
	top: 2px;
	right: 6px;
}

ul.ui-autocomplete {
	font-size: 80%;
}


#current-song table {
	border-collapse: collapse;
}


#current-song img {
	vertical-align: middle;
}

#current-song {
	padding-left: 20px;
	margin-top: 10px;
}

#current-song .vote {
	display: none;
}

#current-song span.playlist {
	display: none;
	margin-left: 20px;
}

#current-song .vote img {
	background-color: #C8C0CE;
	padding: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	width: 16px;
	height: auto;
}

#current-song .album-art img {
	width: 100px;
	height: auto;
	margin-left: 10px;
}

#current-song td.song-title {
	padding: 0 20px;
}

#current-song td.song-title .artist-name {
	font-size: 80%;
}

#current-song td.song-title .playlist {
	margin-top: 10px;
	font-size: 80%;
}


#top-bar-music-player div.jp-audio ul.jp-toggles {
	height: 15px;
}

#top-bar-music-player .jp-controls li {
	padding-left: 0 !important;
}

#top-bar-music-player .jp-repeat-off { /* display: none; */
	
}

#top-bar-music-player .jp-audio {
	float: left;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0;
}

#top-bar-music-player .jp-audio .jp-interface {
	height: 75px;
}

#top-bar-music-player .jp-title {
	padding-top: 5px;
	font-size: 80%;
}

#top-bar-music-player div.songs {
	clear: both;
	display: none;
	padding-left: 10px;
	height: 300px;
	overflow: auto;
	font-size: 80%;
}

#playlist input.play {
	margin-left: 20px;
}

#playlist table th .ui-icon {
	float: right;
}

#playlist table {
	border-collapse: collapse;
}

#playlist table th.first {
	padding-left: 0px;
}

#playlist table td, #playlist table th
	{
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	min-width: 80px;
}

#playlist table tbody tr {
	cursor: move;
	border-bottom: 1px solid #E579E9;
}

#playlist table tbody td.track-length {
	text-align: right;
}

#playlist table tbody tr.playing td {
	color: white;
	font-style: italic;
}

#playlist table tbody td.text {
	overflow: hidden;
}

#playlist table td.controls {
	width: 75px;
}

.controls .ui-icon {
	background-color: white;
	filter: alpha(opacity =                     60); /* for IE */
	-khtml-opacity: 0.60; /* khtml, old safari */
	-moz-opacity: 0.60; /* old mozilla, netscape */
	opacity: 0.60; /* good browsers: FF, safari, opera */
	float: left;
	margin-right: 5px;
}

div.controls {
	margin: 10px 0;
}

#top-bar-music-player .playlist-title select {
	margin-left: 10px;
}

#top-bar-music-player .button {
	font-size: 100%;
	color: #E579E9;
	border: 1px solid #E579E9;
}

#top-bar-music-player .button:hover {
	background-color: #E579E9;
	color: #3A2A45;
}

ul.index-letters {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	text-align: center;
}

ul.index-letters li {
	display: inline;
	text-transform: uppercase;
	font-size: 120%;
	padding: 0 5px;
}

.hide {
	display: none;
}

ul.items {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.items li {
	padding: 10px 0;
	clear: both;
	border-bottom: 1px solid #C8C0CE;
}

ul.items li a.album-cover {
	float: left;
}

ul.items li, ul.items li a.album-cover img {
	height: 150px;
}


ul.items li a.album-cover img {
	width: auto;
}

ul.items li div.artist, ul.items li div.album, ul.items ul.control-menu, ul.items li div.song, ul.items li div.artist-and-album, ul.items div.controls {
	margin-left: 200px;
}

ul.items li div.song {
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 120%;
}


ul.items li div.album {
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 120%;
}

ul.items li div.artist {
	font-size: 90%;
}

ul.items ul.control-menu {
	margin-top: 10px;
	clear: none;
}

ul.items li div.controls {
	margin-top: 10px;
}

ul.items ul.control-menu li{
	border-bottom: none !important;
	padding: 0 0 0 5px !important;
}

ul.items ul.control-menu li.first{
	padding: 0 5px 0 0 !important;
}



ul.items div.index-letter {
	float: right;
	text-transform: uppercase;
	font-size: 120%;
}


input[type="text"], input[type="password"] {
	padding: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: none;
} 

input[type="text"].disabled, input[type="password"].disabled {
	background-color: #D3D3D3;
}

.bottom-margin {
	margin-bottom: 10px;
}

div.action-buttons {
	float: right;
}

.icon {
	width: 16px;
	height: 16px;
	background-color: #C8C0CE;
}