http: //css-tricks.com /perfect-full-page-background-image/

html,body {
	font-size: 100%;
	background-color: black;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.error-box {
	display: block;
	margin-bottom: 10px;
	color: #F6CECE;
	font-weight: bold;
}

#player-script {
	display: none;
}

#background-image {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	filter: alpha(opacity =                               70); /* for IE */
	-khtml-opacity: 0.7; /* khtml, old safari */
	-moz-opacity: 0.7; /* old mozilla, netscape */
	opacity: 0.7; /* good browsers: FF, safari, opera */
}

#background-image.full-width {
	width: 100%;
	height: auto;
}

#background-image.full-height {
	width: auto;
	height: 100%;
}

.top-bar {
	font-family: Gill Sans, Verdana;
	background-color: #3A2A45;
	padding: 5px 0;
}

.top-bar a,.top-bar a:VISITED {
	color: #e579e9;
	text-decoration: none;
}

#top-bar {
	margin: 0;
	padding: 5px;
}



.top-bar ul.main-menu {
	padding: 0;
	margin: 0;
	margin-right: 10px;
	float: right;
}

.top-bar ul li {
	list-style: none;
	display: inline;
	padding-left: 10px;
}

div.panel {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 0.8em;
	color: #F8F8FF;
	background-image: url("../images/transparent-background.png");
	background-repeat: repeat;
	background-position: left top;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding: 10px;
	margin-top: 10px;
	-moz-border-radius: 20px
}

div.panel form {
	padding-top: 10px;
}

div.sub-panel {
	margin-top: 10px;
	padding: 10px;
}

div.music-sub-panel {
	margin-top: 100px;
	padding: 10px;
}


div.panel iframe {
	width: 100%;
	border: none;
	border-width: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

div.panel h1 {
	font-size: 1.5em;
}

div.panel .horizontal-gap {
	margin-left: 10px;
}

div.panel a,div.panel a:VISITED {
	color: #F8F8FF;
}

div.panel fieldset {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #F8F8FF;
	padding: 10px;
	margin-top: 10px;
	font-size: 1em;
	padding: 10px;
	line-height: 2em;
}

div.panel label.new-line {
	display: block;
	padding-top: 10px;
}

div.panel input[type='text'],div.panel input[type='password'] {
	width: 99%;
	min-width: 200px;
}

div.button-panel {
	margin-top: 20px;
	margin-bottom: 10px;
}

.button {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	border: 1px solid #E579E9;
	color: #E579E9;
	padding: 3px 10px;
	font-size: 1.0em;
	cursor: default;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.button:HOVER, .hover {
	background-color: #C8C0CE;
}

.sub-rounded-corners {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}


div.panel div.breadcrumbs {
	
}

div.panel a,div.panel a:VISITED {
	text-decoration: none;
}

div.panel ul.main-menu {
	padding: 0;
	margin: 0;
}

div.panel ul.main-menu li {
	list-style: none;
}

div.panel ul.main-menu li a {
	display: block;
	padding: 3px;
	font-size: 1.2em;
}

div.panel ul.main-menu a:HOVER {
	background-color: #CD6600;
}

div.random-album-art div.album {
	float: left;
	padding: 5px;
	width: 150px;
	height: 150px;
}

div.random-album-art div.album img {
	width: 100%;
	height: 100%;
	filter: alpha(opacity =           60); /* for IE */
	-khtml-opacity: 0.60; /* khtml, old safari */
	-moz-opacity: 0.60; /* old mozilla, netscape */
	opacity: 0.60; /* good browsers: FF, safari, opera */
}

div.random-album-art div.highlight img {
	background-color: gray;
	filter: alpha(opacity =     100); /* for IE */
	-khtml-opacity: 1; /* khtml, old safari */
	-moz-opacity: 1; /* old mozilla, netscape */
	opacity: 1; /* good browsers: FF, safari, opera */
}

ul.control-menu {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	clear: both;
}

ul.control-menu li {
	display: inline;
	list-style: none;
	font-size: 1.2em;
	padding: 0 10px;
	border-left: 1px solid white;
}

ul.control-menu li.first {
	border-left: none;
	padding-left: 0;
}

ul.main-control-menu {
	text-align: right;
}

div.sub-panel .album-menu {
	
}

div.sub-panel .album-menu li {
	list-style: none;
	padding: 5px 0;
	margin: 0;
	margin-left: 260px;
}

div.sub-panel .album-menu li div.controls {
	display: inline;
}

div.sub-panel .album-menu li div.meta {
	display: inline;
	text-align: right;
	margin-left: 20px;
	font-size: 0.8em;
}

div.sub-panel div.album-art {
	float: left;
	width: 250px;
	margin-top: 20px;
}

div.sub-panel div.album-art img {
	width: 100%;
	height: auto;
}

#top-bar-music-player {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	color: #C8C0CE;
}

#current-song table{
	border-collapse: collapse; 
}


#current-song img {
	vertical-align: middle;
}

#current-song {
	padding-left: 20px;
	margin-top: 10px;
}

#current-song .vote {
	display: none;
}

#current-song .vote img {
	background-color: #C8C0CE;
	padding: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	width: 16px;
	height: auto;
}

#current-song .toggle-playlist {
	padding-left: 20px;
}

#current-song .album-art img{
	width: 100px;
	height: auto;
	margin-left: 10px;
}

#current-song td.song-title {
	padding: 0 20px;
}

#current-song td.song-title .artist-name{
	font-size: 80%;
}

#top-bar-music-player .jp-controls li{
	padding-left: 0 !important;
}

#top-bar-music-player .jp-audio {
	float: left;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;	
	padding-bottom: 0;
}

#top-bar-music-player .jp-audio .jp-interface {
	height: 75px;
}

#top-bar-music-player .jp-title {
	padding-top: 5px;
	font-size: 80%;
}

#top-bar-music-player div.songs {
	clear: both;
	display: none;
	padding-left: 10px;	
	height: 300px;
	overflow: auto;	
	font-size: 80%;
}




#top-bar-music-player div.songs table th .ui-icon {
	float: right;
}


#top-bar-music-player div.songs table {
	border-collapse: collapse;
	
}

#top-bar-music-player div.songs table th.first {
	padding-left: 0px;	
}

#top-bar-music-player div.songs table td, #top-bar-music-player div.songs table th {
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	min-width: 80px;
	
}

#top-bar-music-player div.songs table tbody tr.odd td {
	cursor: move;
	background-color: #2E2534;
}




#top-bar-music-player div.songs table tbody td.text {
	overflow: hidden;
}

#top-bar-music-player div.songs table td.controls {
	width: 75px;
}

.controls .ui-icon {
	background-color: white;
	filter: alpha(opacity =           60); /* for IE */
	-khtml-opacity: 0.60; /* khtml, old safari */
	-moz-opacity: 0.60; /* old mozilla, netscape */
	opacity: 0.60; /* good browsers: FF, safari, opera */
	float: left;
	margin-right: 5px;
}

#top-bar-music-player .playlist-title {
	font-size: 110%;	
}

#top-bar-music-player .playlist-title select{
	margin-left: 10px;	
}

