start music player
<div id="music-player">
    <table>
        <tr>
            <td class="controls"><a class="previous" href="javascript:;">

                    <img title="Previous track"
                    alt="Previous track"
                    src="../assets/images/media-player/previous.png" />
            </a> <a class="play" href="javascript:;"><img
                    title="Play track"
                    alt="Play track"
                    src="../assets/images/media-player/play.png"/></a>
                <a class="next" href="javascript:;"><img
                    title="Next track"
                    alt="Next track"
                    src="../assets/images/media-player/next.png" /></a>
            </td>
            <td class="album-art"></td>
            <td class="song-info">
                <div class="artist-name"></div>
                <div class="title"></div>
            </td>
        </tr>

    </table>



    <!--
    <a class="pause"><img title="<spring:message code="action.play"/>" alt="<spring:message code="action.play"/>" src="<c:url value="${themePath}/images/media-player/play.png"/>" /></a>

    <button class="stop">Stop</button>
    -->
    <div class="progress">
        <div class="play-bar"></div>
    </div>
</div>

end  music player

<ng-content></ng-content>


