
$mashupmedia-pink: #E579E9;

a {
  text-decoration: none;
  color: $mashupmedia-pink;
}

#root-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#music-player {
  padding: 5px;
  visibility: hidden;
}

#music-player .controls {
  white-space: nowrap;
}

#music-player div.progress {
  height: 5px;
  cursor: pointer;
  position: relative;
}

#music-player div.play-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $mashupmedia-pink;
  width: 42%;
  height: 2px;
}

#music-player .album-art {
  padding: 0 10px;
}

#music-player .album-art img {
  width: 30px;
  height: auto;
}

#music-player .song-info div {
  overflow: hidden;
}

#music-player .artist-name {
  font-size: 0.8em;
  height: 1.5em;
  max-height: 1.5em;
}

#music-player .title {
  font-size: 0.9em;
  height: 2.5em;
  max-height: 2.5em;
}

#music-player td.controls img {
  vertical-align: middle;
  padding: 0px 2px;
  width: auto;
}

#music-player .controls a.previous img,
#music-player .controls a.next img {
  height: 20px;
}

#music-player .controls a.play img,
#music-player .controls a.pause img {
  height: 32px;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;

  a.menu {
    position: absolute;
    right: 2em;
    mat-icon {
      font-size: 200%;
    }
  }
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  mat-toolbar {
    width: 100%;
  }
  span {
    width: 100%;
  }

  mat-icon {
    font-size: 200%;
  }
}

#main-content {
  padding-top: 5em;
  padding-bottom: 5em;
}


.fill-remaining-space {
  flex: 1 1 auto;
}

mat-sidenav  {
  font-size: 1em;
  background-color: #373737;
  mat-toolbar-row {
    a {
      font-weight: bold;
      text-decoration: none;
      color: $mashupmedia-pink;
      mat-icon {
        padding-left: 1em;
        vertical-align: middle;
      }
    }
  }
}
