<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<import resource="securityContext.xml" />
	<import resource="taskContext.xml" />

	<context:annotation-config />
	<context:component-scan base-package="org.mashupmedia.service" />
	<context:component-scan base-package="org.mashupmedia.dao" />
	<context:component-scan base-package="org.mashupmedia.security" />
	<context:component-scan base-package="org.mashupmedia.editor" />
	<context:component-scan base-package="org.mashupmedia.interceptor" />
	<context:component-scan base-package="org.mashupmedia.restful" />
	<context:component-scan base-package="org.mashupmedia.validator" />
	<context:component-scan base-package="org.mashupmedia.encode" />
	

	<bean id="localDownloadTaskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="20" />
		<property name="queueCapacity" value="50" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>

	<bean id="sessionFactory" factory-bean="serviceLocator"
		factory-method="createSessionFactory" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="globalRollbackOnParticipationFailure" value="false" />
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:messages</value>
				<value>classpath:settings</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="${message.cache.seconds}" />
	</bean>

	<bean id="serviceLocator" class="org.mashupmedia.initialise.MashupMediaServiceLocator">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>